body{
    font-family:"DotGothic16", sans-serif;
}
.book-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 40px;
    text-align: center;
}
.toy-grid{
    text-align: left;
}
.toy-grid img {
    width: 40%; /* Ensure the image fills the entire container */
    height: 40%; /* Ensure the image fills the entire container */
    object-fit: contain; /* Maintain the aspect ratio without cropping */
  }
.collection-name {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 15.5px;
}
.toy-info{
    background-color: #FFFEEC;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    width: 160px;
}
.toy-info p{
    text-align: left;
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 3px;

}
.name{
    font-size: 17px;
}
.poster{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 20px;
    width: 54px;
    border: solid 1px black;
    border-radius: 7px;
    background-color:#F9E096;
    font-size: 14px;
    padding: 1px;
}
