*{
    overflow: hidden;
}
body{
    background-color: #FF3F25;
}
.body img{
    width: 1440px;
}
.click img{
    width: 240px;
    position: absolute;
    transform: translate(240px, -640px);
}
@media (max-width: 600px) {
    *{
        overflow: hidden;
    }
    .body img{
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-46%, -120%);
    }
    .click img{
        width: 60px;
        transform: translate(106%, 400%);

    }
}
