body{
    background-color: #FF3F25;
    margin: 10px 0px 0px 0px;
    overflow-x: hidden;
}
.activated{
    overflow: hidden;
}
.header{
    margin: 0px;
    width: 100%;
    height: 5vh;
    background-color: #AD2F1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid black 1.5px;
}
.title{
    font-family:"DotGothic16", sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.close-button{
    width: 3.5vh;
    height: 3.5vh;
    border: solid black 1.5px;
    background-color: #FFF16F;
    font-family: "DotGothic16", sans-serif;
    font-size: 19px;
    text-align: center;
    margin-right: 8px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}
.content{
    display: flex;
    flex-direction: row;
}
.scroll{
    width: 20%;
    height: auto;
    background-color: #FFF16F;
    border: solid black 1px;
}
.scroll-2{
    height: 100vh;
    width: 95%;
    background-color: #fffcca;
    margin-top: 50px;
    border: solid black 1.5px;
    box-shadow: 3px 3px 4px rgba(80, 80, 80, 0.5);
}
.scroll-text{
    margin: 12px 10px 3px 10px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}
.data-content{
    width: 80%;
    height: auto;
    padding: 15px;
    padding-top: 40px;
    background-color: rgb(251, 251, 243);
    border: solid black 1px;
    align-items: center;
    justify-content: flex-end;
}
body{
    font-family:"DotGothic16", sans-serif;
}
.book-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 55px;
    text-align: center;
}
.toy-grid{
    text-align: center;
    height: 260px;
}
.toy-grid img {
    width: 45%; /* Ensure the image fills the entire container */
    height: 45%; /* Ensure the image fills the entire container */
    object-fit: contain; /* Maintain the aspect ratio without cropping */
  }
.collection-name {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 14px;
}
.toy-info{
    background-color: #FFFEEC;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
    display: inline-block;
    
} 
.toy-info p{
    text-align: left;
    font-size: 13px;
    margin: 0px;
    margin-left: 4px;

}
.name{
    font-size: 17px;
    margin: 5px;
}
.name:hover{
    text-decoration: underline;
    cursor: pointer;
}
.hidden-image{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.poster:hover .hidden-image {
    display: block;
}
.poster{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
    width: 47px;
    border: solid 1px black;
    border-radius: 8px;
    background-color:#F9E096;
    font-weight: 700;
    padding: 1px;
    display: inline-block;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    position: relative;
}
.poster img{
    width: 280px;
    position: absolute;
    transform: translate(-130px);
}
    
.poster:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color:#fc9a74;
    z-index: 100;

}
.poster-text{
    margin: 0;
    font-size: 12px;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: rgb(234, 38, 38);
}
.pop-up-wrapper{
    display: none;
    background-color: cornflowerblue;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

}
@media (max-width: 600px) {
    .book-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(30, 1fr);
    }
    .scroll{
        width: 45%;
    }
    .scroll-2{
        width: 93%;
    }
    .scroll-text{
        font-size: 14px;
    }
    .header{
        height: 4vh;
    }
    .title{
        font-size: 17px;
    }
    .toy-grid img {
        width: 37%;
        height: 37%;
    }   
    .toy-info{
        width: 60px;
    }
    .name{
        font-size: 15px;
    } 
    .toy-grid{
        height: 210px;
    }
    .close-button{
        width: 3vh;
        height: 3vh;
        font-size: 17px;
    }
}

